/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: "wght" var(--text-weight-normal);
  }
}

.page {
  margin: 0;
  padding: 0;
  font-family: var(--font-main), sans-serif;
  background-image: var(--page-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--text-weight-normall);
}

.container {
  margin: 0 auto;
  margin-block-start: 98px;
  border: 2px solid rgba(0, 0, 0, 1);
  max-inline-size: var(--container-width);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-inline: 122.5px;
  padding-block: 130px;
  font-family: var(--font-accent), monospace;
  font-weight: 400;
  background-color: var(--bg-color);
}

.header__logo {
  margin: 0;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  font-weight: var(--text-weight-normal);
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__title {
  padding-inline: 10px;
  padding-block: 4px;
  font-weight: var(--text-weight-bold);
  letter-spacing: -0.15px;
  background-color: var(--bg-color);
}

.card__conteiner {
  position: relative;
}

.card__image {
  display: block;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__logo {
  position: absolute;
  opacity: 0.5;
  color: #000;
  font-family: var(--font-accent);
  font-weight: var(--text-weight-normal);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--bg-color),
    0 1px var(--bg-color),
    1px 0 var(--bg-color),
    0 -1px var(--bg-color);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .card__logo {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block-start: 4px;
  padding-inline: 25px;
  padding-block: 25px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.5px;
  background-color: var(--bg-color);
  font-variation-settings: "wght" var(--text-weight-normal);
  /* font-family: var(--font-main), sans-serif;
  font-size: 18px; */
}

.button__conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 12px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  background-color: var(--bg-color);
}

.card__icon-button {
  border: none;
  background-color: var(--bg-color);
}

.card__like-button {
  background-color: var(--bg-color);
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--font-accent);
  font-weight: var(--text-weight-normal);
  font-size: 14px;
}
