/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: 'Inter';
  --font-accent: 'Press Start 2P';

  --text-weight-normal: 400;
  --text-weight-bold: 715;

  --page-gradient: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-color: rgba(255, 255, 255, 1);
  --container-width: clamp(375px, 69vw, 700px);

  --stroke-color: #fff;
  --accent-color: #000;
  --text-color: #fff;

  --contour: #000;
  --main-color: #ff0000;
  --sparks-color: #ff0000;
  --core-color: #fff;
}